

.arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-top: 4px solid rgb(112, 103, 103);
  border-left: 4px solid rgb(112, 103, 103);
  transform: rotate(135deg);
}

.arrow::after{
  content: "";
  display: block;
  width: 4px;
  height: 45px;
  background-color: rgb(112, 103, 103);
  transform: rotate(-45deg) translate(15px, 4px);
}

.evo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.evolveTo, .pokemon{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.evolveTo{
  width: 120px;
}
.evolveTo span{
  text-align: center;
  margin: 10px;
}

.evoDet{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pokemon{
  padding:20px 0;
}

.pokemon img{
border-radius: 50%;
padding: 10px;
border: 4px solid #c5070759;
background-color: #fbf3f3;
width:100px;
}

.pokemon span{
  font-weight: bold;
}

.evo2, .evo3{
  display: flex;
  flex-direction: column;
  align-items: center;
}