@font-face {
  font-family: poke-info;
  src: url(../pokemon/Baloo2-Regular.ttf);
}

.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
    "pic name name name"
    "pic type type type"
    "height weight happy ."
    "info info info info"
    "stats stats profile profile"
    "evo evo evo evo"
    "variety variety variety variety";
}
.pic, .name, .type{
  background-color: #fff;
}
.pic{
  grid-column: 1;
  grid-row: 1 / span 2;
  justify-self: center;
  align-self: start;
  padding: 10px;
  width: 150px;

}
/* pokemon name and number */
.name{
  grid-column: 2 / span 3;
  grid-row: 1;
  font-size: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.name > div {
  margin-right: 15px;
}
.ball{
  width: 2rem;
  height: 2rem;
  padding: 0 10px;
  background-color: #fff;
}
/* pokemon type with all colors */
.type{
  grid-column: 2 / span 3;
  grid-row: 2;
  display: inline-flex;
  align-self: start;
}

.poison, .grass, .fire, .flying, .water, .bug, .normal, .electric, .ground, .fairy, .fighting, .psychic, .rock, .steel, .ice, .ghost, .dragon, .dark
{
  color: #fff;
  padding: 5px 15px;
  margin:0 5px;
  border-radius: 20px;
}
.poison{  background-color: rgb(146, 58, 146);}
.grass{ background-color: rgb(105, 194, 61);}
.fire{  background-color: #F08030;}
.flying{  background-color: #a790f0;}
.water{ background-color: #6890f0;}
.bug{ background-color: #a8b820;}
.normal{  background-color: #bbbbaa;}
.electric{  background-color: #f9d030;}
.ground{ background-color: #e1c068;}
.fairy{ background-color: #ee99ac;}
.fighting{  background-color: #c13028;}
.psychic{ background-color: #f95787;}
.rock{  background-color: #b8a038;}
.steel{ background-color: #b8b8d0;}
.ice{ background-color: #97d8d8;}
.ghost{ background-color: #6f5898;}
.dragon{  background-color: #7038f8;}
.dark{  background-color: #705847;}
  
.weight, .height, .happy{
  letter-spacing: 2px;
  font-size: 1.2rem;
  background-color: #000000;
  color: #fff;
  grid-row: 3;
  padding: 10px;
}
.weight{  
  grid-column: 1;
  border-top-left-radius: 10px;
}
.height{  grid-column: 2;}
.happy{ 
  grid-column: 3 / span 2;
  border-top-right-radius: 10px;
}

.info{
  grid-column: 1 / span 4;
  grid-row: 4;
  font-family: poke-info;
  background-color: #c50707;
  color: #fff;
  padding:20px 10px;
  text-align: justify;
}

.stats{
  grid-column: 1 / span 3;
  grid-row: 5 ;
  display: flex;
  flex-direction: column;
  align-items:flex-end; 
  padding: 20px 0;
  max-width: 400px;
}
.stats span{
margin: 0 15px;
}
/* progress bar is a pain, but why not to use it */

progress{
  position: relative;
  border-radius: 5px;
  height: 22px;
  background-color: rgb(240, 236, 236);
}
/* for chrome */
progress::-webkit-progress-bar {
  border-radius: 5px;
  background-color: rgb(240, 236, 236);
}
progress::-webkit-progress-value {
  border-radius: 5px;
  background-color: rgb(218, 214, 214);
}
/* for mozilla */
progress::-moz-progress-bar {
  border-radius: 5px;
  background-color: rgb(218, 214, 214);
}
/* inside text from variable */
progress[foo]::before{
  position: absolute;
  content: attr(foo);
  justify-self: end;
  color: #fff;
  font-size: 0.9rem;
  margin-left: 5px;
}

.evolution {
  grid-column: 1 / span 4;
}

.varieties{
  grid-column: 1 / span 4;
  grid-row: 7;
  border-radius: 10px;
  padding: 15px 20px;
  background-color: #f2f2f2;
}

.varieties span{
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #fff;
}
.varieties ul{
  list-style: none;
}
.varieties li:before {
  content: '';
  display: inline-block;
  height: 10px;
  width: 10px;
   background-size: 10px;
  background-image: url(../pokemon/pokeball.png);
  background-repeat: no-repeat;
  margin-right: 5px;
}