@font-face {
  font-family: poke-solid;
  src: url(../pokemon/Pokemon\ Solid.ttf);
}

h1{
  font-size: 4rem;
}
h3{
  font-size: 2.5rem;
}

h1, h3 {
  padding: 0 0.5rem;
  margin: 2rem 0;
  font-family: poke-solid;
  color: #ffcc01;
   -webkit-text-stroke: 1px #36579c;
   text-shadow:-3px 1px 0 #2c3a72;
  text-align: center;
}

.test{
  display: flex;
  justify-content: center;
  align-items: baseline;
}